[Unit]
Description=Overseer remote service
After=network.target

[Service]
User=overseer
WorkingDirectory=/home/overseer/run
ExecStart=/usr/local/bin/gunicorn --chdir /home/overseer/run/ -b 0.0.0.0:5333 overseerRemote:app
Restart=always

[Install]
WantedBy=multi-user.target
